*{
    margin: 0;
    padding: 0;
}

body{
    background: url("fondo.jpg");
}

#main{
    background-color: rgb(230, 227, 227);
    border-radius: 4px;
    margin: 30px 8px;
    text-align: center;
}

#title{
    display: block;
    margin: 30px;
    font-size: 4em;
}

#main p{
    margin-top: 10px;
}

#img-div{
    background-color: black;
    margin: 40px 15px;
    padding: 20px;
    color: white;
}

#img-caption{
    display: block;
    margin: 10px;
    margin-bottom: 10px;
}

#image{
    display: block;
    max-width: 100%;
    margin: auto;
}

#tribute-info ul{
    max-width: 550px;
    margin: 50px auto;
    text-align: left;
    line-height: 1.6;
}

#tribute-info ul li{
    margin: 16px 0;
}

h4{
    font-size: 1.5em;
}